<header>
	<div>Remind me</div>
	<nav>
		<ul style="display:contents;">
			<li><a href="./">Blog</a></li>
			<li><a href="./">List</a></li>
			<li><a href="./">Other stuff</a></li>
		</ul>
	</nav>
</header>