<header class="justify-content-center py-3 border-bottom">
	<div class="container">
		<a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis display-6 text-decoration-none" href="{{ '/' | url }}">{{ metadata.title }}</a>
	</div>

</header>
