<p>Écoutez ce qui se passe :</p>

<ul>
	<li><a href="/pourjulie/vendredi.html">Vendredi</a></li>
	<li><a href="/pourjulie/samedi.html">Samedi</a></li>
	<li><a href="/pourjulie/dimanche.html">Dimanche</a></li>
</ul>
