// This is my base SCSS file

.bi {
	vertical-align: -.125em;
	fill: currentColor;
}

html {
	font-size: 1.3em;
}

.field {

	&.isInvalid {
		// color: #d52424;
	}
}

.field-error {
	color: #d52424;
	display: block;
}
