// This is my base SCSS file

.bi {
	vertical-align: -.125em;
	fill: currentColor;
}

html {
	font-size: 1.3em;
}

.field {

	&.isInvalid {
		// color: #d52424;
	}
}

.field-error {
	color: #d52424;
	display: block;
}

p,
ul,
ol {
	margin-top: 1.5em;
	margin-bottom: 1.5em;

	ul, ol {
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

h2,
h3 {
	margin-top: 1.75em;
	margin-bottom: 1em;
}

h2 + h3 {
	margin-top: 1em;
}

ul ul, {
	margin-top: 1em;
	margin-bottom: 1em;
}
